{% for article in articles %}
  <li class="p-2 rounded">
    <a class="test" href="{{article.link}}" target="_blank">{{article.title}}</a><br>{{article.authors}} - {{article.year}} - {{article.journal}} - {{article.editor}}
  </li>
{% endfor %}
