<div class="container">
  <p><i class="bi bi-book-half me-2"></i> Cite the paper</p>
  <div class="row justify-content-around align-items-center rounded p-2 citation">
    <div class="col-12 col-md-4 d-flex justify-content-center mb-4 mb-md-0">
      <span>
        Stamati, And&ograve;, Roubin, Cailletaud, Wiebicke, Pinzon, Couture, <i>et al.</i> (2020)
      </span>

    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center mb-4 mb-md-0">
      <span>
        <a class="citation-title me-2" href="https://joss.theoj.org/papers/10.21105/joss.02286" target="_blank">SPAM: Software for Practical Analysis of Materials</a>
        <span class="ms-2">Journal of Open Source Software</span>
      </span>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	  10.21105 / joss.02286
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://doi.org/10.21105/joss.02286" target="_blank"><i class="bi bi-journal-richtext me-1"></i> Read</a></li>
          <li><a class="dropdown-item copy-clipboard" data-copy="10.21105/joss.02286" href="#"><i class="bi bi-123 me-1"></i> Copy DOI</a></li>
          <li><a class="dropdown-item copy-clipboard" data-copy="{% include 'welcome/bibtex.txt' %}" href="#"><i class="bi bi-chat-left-quote me-1"></i> Copy bibtex</a></li>
          <li><a class="dropdown-item copy-clipboard" data-copy="{% include 'welcome/quote.txt' %}" href="#"><i class="bi bi-chat-quote me-1"></i> Copy plain quote</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="https://joss.theoj.org" target="_blank"><i class="bi bi-journals me-1"></i> JOSS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <p class="">Cited in <a href="https://scholar.google.fr/scholar?cites=13551951757165257190" target="_blank">{{citations.n}} articles</a> as of {{ citations.get_date|date:"Y/m/d"}}. Click below to see the last {{N_ARTICLES}} articles:<p>
      <ul id="citations-list" class="citations citations-hidden">
	{% include 'welcome/articles.html' %}
      </ul>
  </div>

</div>
