<div class="getting-started">
  <pre><code class="language-bash"># install the pip module
pip install spam</code></pre>

  <pre class="mb-0"><code class="language-python">>>> import tifffile
>>> import spam.DIC
>>> # load your images
>>> im1 = tifffile.imread("im1.tif")
>>> im2 = tifffile.imread("im2.tif")
>>> # and register them
>>> spam.DIC.register(im1, im2)</code></pre>
</div>
