{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
    <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block">
      <img src="{% static 'images/spam-logo.png' %}" class="d-block mx-lg-auto img-fluid" alt="SPAM logo" loading="lazy" width="350" height="350">
    </div>
    <div class="col-lg-6 align-middle">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
	<a href="/" class="home">
	  <img src="{% static 'images/spam-horizontal.png' %}" class="me-2 img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
      </h1>
      <p class="lead mb-4"><b>SPAM</b>: <b>S</b>oftware for <b>P</b>ractical <b>A</b>nalysis of <b>M</b>aterials</p>
      {% include "welcome/intro.html" %}
      {% include "welcome/buttons.html" %}
    </div>
  </div>

  <div class="divider rounded m-5"></div>

  {% include "welcome/code.html" %}

  <div class="divider rounded mt-5 mb-3"></div>

  {% include "welcome/prize.html" %}

  <div class="divider rounded mb-5 mt-3"></div>
  <p class="lead">Check out our <a href="/workshops">yearly workshops</a></p>

  {% for workshop in workshops %}

    {% include "workshop/workshop.html" %}

  {% endfor %}

  <div class="divider rounded m-5"></div>

  {% include "welcome/citations.html" %}

  {# <div class="divider rounded m-5"></div> #}

  {#% include "welcome/sponsors.html" %#}
{% endblock %}
