<p>
  <emph class="lead">spam</emph> is an open-source python tool for quantitative data analysis for 2D images and 3D volumes for mechanics applications that has developed around x-ray and neutron tomography.<br class="mb-2">

  <emph class="lead">spam</emph> provides a <span class="keyword" data-bs-toggle="tooltip" title="Overall, non-rigid alignment of two images">registration</span> function as well as <span class="keyword" data-bs-toggle="tooltip" title="The classic method of subdividing a volume into small boxes and measuring their displacement">local</span>, <span class="keyword" data-bs-toggle="tooltip" title="Measuring displacements on a tetrahedral mesh, allowing regularisation">global</span> and <span class="keyword" data-bs-toggle="tooltip" title="Correlating individual objects as defined by a labelled image">discrete</span> image correlation methods and their associated strain calculation.
  It also includes utilities varying from computing geometrical quantities such as size, shape and orientation to generating unstructured meshes.

  {% comment %}<span class="keyword" data-bs-toggle="tooltip" title="For aligning images/volumes">registration</span>{% endcomment %}
</p>

<p class="mb-4">
  For any questions that <a href="/docs"><i class="bi bi-book me-1"></i> the documentation</a> failed to answer, for suggestions or bug reports please join us in our <a href="https://matrix.to/#/#spam:matrix.org" target="_blank"><i class="bi bi-chat-heart me-1"></i> chat room</a>. You can also participate in one of our <a href="{% url "workshops" %}"><i class="bi bi-people me-1"></i> yearly workshop</a> to meet us in person.
</p>
