{% load static %}

<div class="container">
  <div class="row justify-content-around align-items-center">
    <div class="col-md-8 d-flex justify-content-center py-2">
      
      <div>
	<p class="text-center"><i class="bi bi-trophy lead"></i></p>
	<p>
	  <span class="lead">SPAM</span> won the 2024 edition of an <a href="https://www.ouvrirlascience.fr/remise-des-prix-science-ouverte-du-logiciel-libre-de-la-recherche-2024/" target="_blank">Open Source Software for research prize</a> by the French Ministry of Higher Education and Research.</p>
	<p>
	  We are delighted to have received this prize, as it aligns with the values and principles that we hold dear such as open source distribution, documented features and community driven developement.
	</p>
	<p>
	  <span class="lead">SPAM</span> wouldn't be what it is today without its thriving community and we can't thank you enough for that. <i class="bi bi-hearts"></i>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center py-2">
      <img class="rounded" src="{% static 'images/spam-so-ll-prize.png' %}" height="300">
    </div>
  </div>
</div>
