{% load static %}

<div class="container">
  <div class="row justify-content-around align-items-center">
    <div class="col-md-4 d-flex justify-content-center py-4">
      <a href="https://www.epfl.ch/en/" target="_blank">
        <img class="rounded" src="{% static 'images/sponsors/epfl.png' %}" height="75">
      </a>
    </div>
    <div class="col-md-4 d-flex justify-content-center py-4">
      <a href="https://www.univ-grenoble-alpes.fr/english/" target="_blank">
        <img class="dark-mode" src="{% static 'images/sponsors/uga.png' %}" height="75">
      </a>
    </div>
  </div>
</div>
