{% if bolddate %}
  <b>{{workshop.start|date:"l"}} the {{workshop.start|date:"jS"}}</b> to <b>{{workshop.end|date:"l"}} the {{workshop.end|date:"jS"}} of {{workshop.end|date:"F"}}</b> {{workshop.year}}
{% else %}
  {{workshop.start|date:"l"}} the {{workshop.start|date:"jS"}} to {{workshop.end|date:"l"}} the {{workshop.end|date:"jS"}} of {{workshop.end|date:"F"}} {{workshop.year}}
{% endif %}
