{% with workshop.get_pictures as pictures %}
  {% if pictures|length %}
    <div class="container my-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
	{% for picture in pictures %}
	  <div class="col">
	    <div class="card shadow-sm gallery-fs-card">
	      <img class="card-img-top gallery-fs-input" data-key="{{picture.image.name}}" width="100%" height="150" src="{{picture.image.thumbnails.large.url}}" style="object-fit: cover;">
	      <div class="card-body">
		<p class="card-text text-start"><span class="lead">{{picture.title}}</span></p>
	      </div>
	    </div>
	  </div>
	{% endfor %}
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gallery-fs-modal" tabindex="-1" aria-labelledby="Photo" aria-hidden="true">
      <div class="modal-dialog modal-xl">
	<div class="modal-content">
	  <div class="modal-body">
	    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	      <div class="carousel-inner">
		{% for picture in pictures %}
		  <div class="carousel-item">
		    <img id="gallery-fs-image-{{picture.image.name}}" src="{{picture.image.thumbnails.large.url}}" class="d-block w-100" alt="{{picture.title}}">
		    <div class="carousel-caption d-none d-md-block">
		      <h5>{{picture.title}}</h5>
		    </div>
		  </div>
		{% endfor %}
	      </div>
	      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	      </button>
	      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	      </button>
	    </div>
	  </div>
	</div>
      </div>
    </div>

  {% endif %}
{% endwith %}
