{% extends "base.html" %}

{% load static %}
{% load add_random_image from workshop_filters %}

{% block content %}
  <div class="row align-items-center py-4">

    <div class="col-lg-4 my-2">
      <h1 class="display-5 fw-bold text-body-emphasis mb-0">
	<a href="/workshops/" class="workshops">
	  <img src="{% static 'images/spam-workshop.png' %}" class="img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
	<span style="display: none">SPAM workshop</span>
      </h1>
    </div>

    <div class="col-lg-8 my-2">
      <h2 class="display-6 fw-bold text-body-emphasis">{{workshop}}</h2>
      <p class="lead text-body-emphasis mb-0">{% include "workshop/fulldate.html" %}, {{workshop.city}} ({{workshop.country}}).</p>
    </div>

  </div>

  {% include "workshop/gallery.html"  %}

  {% with developers=workshop.get_developers %}
    {% if developers.count %}
      <div class="divider rounded m-5"></div>
      <h3>The team</h3>
      <div class="container text-center py-2">
	<div class="row">
	  {% for developer in developers %}
	    <div class="col-lg-4 col-sm-6 mb-2">
	      {% if developer.image %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{developer.image.thumbnails.profile.url}}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% else %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/default-dev'|add_random_image %}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% endif %}
	      {% if developer.link %}
		<h4 class="fw-normal mt-2"><a href="{{developer.link}}" target="_blank">{{developer.name}}</a></h4>
	      {% else %}
		<h4 class="fw-normal mt-2">{{developer.name}}</h4>
	      {% endif %}
	      <p>{{developer.text|safe}}</p>
	    </div>
	  {% endfor %}
	</div>
      </div>
    {% endif %}
  {% endwith %}
  
{% endblock %}
