{% extends "base.html" %}

{% load static %}
{% load add_random_image from workshop_filters %}

{% block content %}
  <div class="row align-items-center py-4">

    <div class="col-lg-4 my-2">
      <h1 class="display-5 fw-bold text-body-emphasis mb-0">
	<a href="/workshops/" class="workshops">
	  <img src="{% static 'images/spam-workshop.png' %}" class="img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
	<span style="display: none">SPAM workshop</span>
      </h1>
    </div>

    <div class="col-lg-8 my-2">
      <h2 class="display-6 fw-bold text-body-emphasis">{{workshop}}</h2>
      <p class="lead text-body-emphasis mb-0">{% include "workshop/fulldate.html" %}, {{workshop.city}} ({{workshop.country}}).</p>
    </div>

  </div>

  <div class="px-5 text-center mb-4">
    <div class="col-lg-12 mx-auto">
      <h3 class="display-6 lead mb-4">Hands-on workshop on 3D displacement and deformation measurement from time-series images</h3>
      <h4 class="lead">Crash course for a proficient use of SPAM, the python "Software for Practical Analysis of Materials"</h4>
      <p class="lead mb-4">
	Edward Andò from the EPFL Center for Imaging will give a three-day hands-on workshop on the measurements of 3D displacements and strains using a leading open-source python software called SPAM of which he is a core developer.
	
	<p class="fw-bold mb-4">
	  <span class="text-danger">Places are limited, so please register.</span><br>
	  Please give details about the data you already have and would like to analyse, since this will be an important selection criterion. When registering please also indicate your experience with the requirements below.
	</p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
	<a type="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfIy7trOcgW8rDv0d-fNZEUwMZXJM3nls4AtKykOXozpP_a2Q/viewform?usp=pp_url" class="btn btn-documentation btn-lg px-4 me-sm-3" target="_blank">Registration form</a>
      </div>
    </div>
  </div>

  <h3 id="program">The program</h3>
  <p>The workshop is held from {% include "workshop/fulldate.html" with bolddate=1 %}.</p>

  <table class="table table-borderless table-striped-columns">
    <tbody>
      <tr class="d-flex" scope="row">
	<td class="col-md-1 col-2">Day 1</td>
	<td class="col">
	  Theoretical aspects and first practice on 2D existing data to get acquainted with the main concepts (registration, pixel-search, iterative methods, residual calculation, strain calculation)
	</td>
      </tr>      
      <tr class="d-flex" scope="row">
	<td class="col-md-1 col-2">Day 2</td>
	<td class="col">
	  We’ll use Prof De Lorenzis’ X-ray scanner (Computational Mechanics Lab) to acquire some 3D volumes during an in-situ experiment, analyse them and visualise the results in Paraview.
	</td>
      </tr>      
      <tr class="d-flex" scope="row">
	<td class="col-md-1 col-2">Day 3</td>
	<td class="col">
	  Further concepts and practical session on everyone’s different 3D time series.
	</td>
      </tr>      
      <tr class="d-flex" scope="row">
	<td class="col-md-1 col-2">Day 4 (optional)</td>
	<td class="col">
	  Advanced session with Regularised Global DVC.
	</td>
      </tr>      
    </tbody>
  </table>
  
  <div class="divider rounded m-5"></div>

  <h3>Some requirements</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
	Minimum requirements:
	<ul>
	  <li>Linear algebra</li>
	  <li>Matrix manipulation</li>
	  <li>Previous use of command-line tools</li>    
	</ul>
      </div>
      <div class="col-md-6 col-12">
	Nice to have:
	<ul>
	  <li>Some python proficiency</li>
	  <li>Basic scientific imaging</li>
	  <li>Experience with Fiji/Paraview</li>
	</ul>
      </div>
    </div>
  </div>

  {% include "workshop/gallery.html"  %}
  
  {% with developers=workshop.get_developers %}
    {% if developers.count %}
      <div class="divider rounded m-5"></div>
      <h3>The team</h3>
      <div class="container text-center py-2">
	<div class="row">
	  {% for developer in developers %}
	    <div class="col-lg-4 col-sm-6 mb-2">
	      {% if developer.image %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{developer.image.thumbnails.profile.url}}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% else %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/default-dev'|add_random_image %}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% endif %}
	      {% if developer.link %}
		<h4 class="fw-normal mt-2"><a href="{{developer.link}}" target="_blank">{{developer.name}}</a></h4>
	      {% else %}
		<h4 class="fw-normal mt-2">{{developer.name}}</h4>
	      {% endif %}
	      <p>{{developer.text|safe}}</p>
	    </div>
	  {% endfor %}
	</div>
      </div>
    {% endif %}
  {% endwith %}

  {#  SPONSORS #}
  {# <div class="divider rounded m-5"></div> #}
  {# <div class="row justify-content-around align-items-center"> #}
  {# <h3> This edition is financed by</h3> #}
  {# <div class="col-md-4 d-flex justify-content-center mb-4"> #}
  {# <a href="https://ethrat.ch/en/" target="_blank"> #}
  {# <img class="dark-mode rounded" src="{% static '/images/sponsors/eth-rat.png' %}" height="75"> #}
  {# </a> #}
  {# </div> #}
  {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
  {# <a href="https://www.epfl.ch/en/" target="_blank"> #}
  {# <img class="rounded" src="{% static 'images/sponsors/epfl.png' %}" height="75"> #}
  {# </a> #}
  {# </div> #}
  {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
  {# <a href="https://www.univ-grenoble-alpes.fr/english/" target="_blank"> #}
  {# <img class="dark-mode" src="{% static 'images/sponsors/uga.png' %}" height="75"> #}
  {# </a> #}
  {# </div>  #}
  </div> 

  
{% endblock %}
