<h3><a href="{% url "workshop" workshop.year workshop.month %}">{{workshop}}</a>

{% if workshop.open_registration %}
  {# <button class="fs-5 fw-bold text-success border-success-subtle bg-success-subtle border rounded p-3"> #}
  <span class="fs-6 text-success">
    <i class="bi bi-emoji-smile mx-2"></i> 
    Registrations are open
  </span>
{% else %}
  <span class="fs-6 text-danger">
    <i class="bi bi-exclamation-triangle mx-2"></i> 
    Registrations are closed 
  </span>

{% endif %}
</h3>

<p>From {% include "workshop/fulldate.html" %}, {{workshop.city}} ({{workshop.country}}).</p>

{% if workshop.display_gallery %}
  {% include "workshop/gallery.html"  %}
{% endif %}
