{% extends "base.html" %}

{% load static %}
{% load add_random_image from workshop_filters %}

{% block content %}
  <div class="row align-items-center py-4">

    <div class="col-lg-4 my-2">
      <h1 class="display-5 fw-bold text-body-emphasis mb-0">
	<a href="/workshops/" class="workshops">
	  <img src="{% static 'images/spam-workshop.png' %}" class="img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
	<span style="display: none">SPAM workshop</span>
      </h1>
    </div>

    <div class="col-lg-8 my-2">
      <h2 class="display-6 fw-bold text-body-emphasis">{{workshop}}</h2>
      <p class="lead text-body-emphasis mb-0">{% include "workshop/fulldate.html" %}, {{workshop.city}} ({{workshop.country}}).</p>
    </div>

  </div>

  <div class="px-5 text-center mb-4">
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-4">

	SPAM workshops are organised each year and aim at bringing support to our users while building up the community.<br>
	During <b>three days</b> you will have the opportunity to <b>bring your own data</b> and analyse it with the <b>spam core developement team</b>.<br class="mb-3">	
      </p>

    </div>
    <div class="overflow-hidden border-bottom mx-5" style="max-height: 70vh;">
      <div class="container px-5">
	<img src="https://whitepod.com/wp-content/uploads/2023/06/Whitepod-Eco-Luxury-Resort-Switzerland-23-of-68.jpg" alt="White Pods"class="img-fluid border rounded-3 shadow-lg mb-4" width="100%" loading="lazy">
      </div>
    </div>
    <p class="my-2"><a href="https://whitepod.com" target="_blank">The White Pod</a> in {{workshop.city}}, {{workshop.country}}.</p>
  </div>

  {% include "workshop/gallery.html"  %}

  {% with developers=workshop.get_developers %}
    {% if developers.count %}
      <div class="divider rounded m-5"></div>
      <h3>The team</h3>
      <div class="container text-center py-2">
	<div class="row">
	  {% for developer in developers %}
	    <div class="col-lg-4 col-sm-6 mb-2">
	      {% if developer.image %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{developer.image.thumbnails.profile.url}}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% else %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/default-dev'|add_random_image %}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% endif %}
	      {% if developer.link %}
		<h4 class="fw-normal mt-2"><a href="{{developer.link}}" target="_blank">{{developer.name}}</a></h4>
	      {% else %}
		<h4 class="fw-normal mt-2">{{developer.name}}</h4>
	      {% endif %}
	      <p>{{developer.text|safe}}</p>
	    </div>
	  {% endfor %}
	</div>
      </div>
    {% endif %}
  {% endwith %}


  {#  SPONSORS #}
  <div class="divider rounded m-5"></div>
  <div class="row justify-content-around align-items-center">
    <h3> This edition was financed by</h3>
    <div class="col-md-4 d-flex justify-content-center mb-4">
      <a href="https://ethrat.ch/en/" target="_blank">
        <img class="dark-mode rounded" src="{% static '/images/sponsors/eth-rat.png' %}" height="75">
      </a>
    </div>
    {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
    {# <a href="https://www.epfl.ch/en/" target="_blank"> #}
    {# <img class="rounded" src="{% static 'images/sponsors/epfl.png' %}" height="75"> #}
    {# </a> #}
    {# </div> #}
    {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
    {# <a href="https://www.univ-grenoble-alpes.fr/english/" target="_blank"> #}
    {# <img class="dark-mode" src="{% static 'images/sponsors/uga.png' %}" height="75"> #}
    {# </a> #}
    {# </div> #}
  </div> 
  
{% endblock %}
