{% extends "base.html" %}

{% load static %}
{% load add_random_image from workshop_filters %}

{% block content %}
  <div class="row align-items-center py-4">

    <div class="col-lg-4 my-2">
      <h1 class="display-5 fw-bold text-body-emphasis mb-0">
	<a href="/workshops/" class="workshops">
	  <img src="{% static 'images/spam-workshop.png' %}" class="img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
	<span style="display: none">SPAM workshop</span>
      </h1>
    </div>

    <div class="col-lg-8 my-2">
      <h2 class="display-6 fw-bold text-body-emphasis">{{workshop}}</h2>
      <p class="lead text-body-emphasis mb-0">{% include "workshop/fulldate.html" %}, {{workshop.city}} ({{workshop.country}}).</p>
    </div>

  </div>

  <div class="px-5 text-center mb-4">
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-4">

	SPAM workshops are organised each year and aim at bringing support to our users while building up the community.<br>
	During <b>three days</b> you will have the opportunity to <b>bring your own data</b> and analyse it with the <b>spam core developement team</b>.<br class="mb-3">

	This year the workshop will be held in <b>Villar d'Arène in the French Alps</b>. It is a remote destination in the mountains yet not that far from international airports and train stations.<br class="mb-3">

	The price for participation will be about <b>500&euro;</b> and covers <b>accommodation and meals</b> for the three days of the workshop.	
      </p>

      <p class="text-danger fw-bold mb-4">The workshop is open to 20 participants and registration closes the 30th of June 2024.</p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
	<a type="button" href="https://framaforms.org/spam-workshop-0610-to-09102024-in-villar-darene-1708938365" class="btn btn-documentation btn-lg px-4 me-sm-3" target="_blank">Registration form</a>
	<a type="button" href="https://matrix.to/#/#spam-workshop-2024:matrix.org" class="btn btn-outline-secondary btn-lg px-4" target="_blank">Chat with us?</a>
      </div>
    </div>
    <div class="overflow-hidden border-bottom mx-5" style="max-height: 70vh;">
      <div class="container px-5">
	<img src="https://www.lefaranchin.com/wp-content/uploads/facade-parking.jpg" alt="Le Faranchin"class="img-fluid border rounded-3 shadow-lg mb-4" width="100%" loading="lazy">
      </div>
    </div>
    <p class="my-2"><a href="https://www.lefaranchin.com" target="_blank">Hôtel Le Faranchin</a> in {{workshop.city}}, {{workshop.country}}.</p>
  </div>

  <h3 id="program">The program</h3>
  <p>The workshop is held from {% include "workshop/fulldate.html" with bolddate=1 %}.</p>

  <table class="table table-borderless table-striped-columns">
    <thead>
      <tr>
	<th scope="col" class="text-end">When</th>
	<th scope="col">What</th>
	<th scope="col">Where</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
	<th colspan="3" class="text-center">Sunday 6th</td>
      </tr>
      <tr>
	<td class="text-end">Afternoon</td>
	<td class="d-flex justify-content-between">
	  Arrival
	  <i class="bi bi-bus-front"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>
      <tr>
	<td class="text-end">18h00</td>
	<td class="d-flex justify-content-between">
	  Welcome drink
	  <i class="bi bi-person-arms-up"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">20h00</td>
	<td class="d-flex justify-content-between">
	  Dinner
	  <i class="bi bi-egg-fried"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>

      <tr>
	<th colspan="3" class="text-center">Monday 7th</td>
      </tr>
      <tr>
	<td class="text-end">9h00</td>
	<td class="d-flex justify-content-between">
	  Participant's presentation
	  <i class="bi bi-easel"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">11h00</td>
	<td class="d-flex justify-content-between">
	  Talk on DVC theory and practice
	  <i class="bi bi-easel"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">12h30</td>
	<td class="d-flex justify-content-between">
	  Lunch
	  <i class="bi bi-cup-hot"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>
      <tr>
	<td class="text-end">14h00</td>
	<td class="d-flex justify-content-between">
	  Working session
	  <i class="bi bi-laptop"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">19h30</td>
	<td class="d-flex justify-content-between">
	  Dinner
	  <i class="bi bi-egg-fried"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>
      <tr>
	<td class="text-end">Evening</td>
	<td class="d-flex justify-content-between">
	  Games night
	  <i class="bi bi-dice-2"></i>
	</td>
	<td>Bellevue</td>
      </tr>

      <tr>
	<th colspan="3" class="text-center">Tuesday 8th</td>
      </tr>
      <tr>
	<td class="text-end">9h00</td>
	<td class="d-flex justify-content-between">
	  Working session
	  <i class="bi bi-laptop"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">12h30</td>
	<td class="d-flex justify-content-between">
	  Lunch
	  <i class="bi bi-cup-hot"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>
      <tr>
	<td class="text-end">14h00</td>
	<td class="d-flex justify-content-between">
	  Working session
	  <i class="bi bi-laptop"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">17h00</td>
	<td class="d-flex justify-content-between">
	  Walk to a mountain lake
	  <i class="bi bi-backpack"></i>
	</td>
	<td></td>
      </tr>
      <tr>
	<td class="text-end">20h00</td>
	<td class="d-flex justify-content-between">
	  Dinner
	  <i class="bi bi-egg-fried"></i>
	</td>
	<td><a href="https://www.facebook.com/people/Le-Jardin-du-Moulin/100064802316542/" target="_blank">Le Moulin</a></td>
      </tr>
      <tr>
	<td class="text-end">Evening</td>
	<td class="d-flex justify-content-between">
	  Games night
	  <i class="bi bi-dice-2"></i>
	</td>
	<td>Bellevue</td>
      </tr>

      <tr>
	<th colspan="3" class="text-center">Wednesday 9th</td>
      </tr>
      <tr>
	<td class="text-end">9h00</td>
	<td class="d-flex justify-content-between">
	  Debrief and presentations
	  <i class="bi bi-easel"></i>
	</td>
	<td>Bellevue</td>
      </tr>
      <tr>
	<td class="text-end">12h30</td>
	<td class="d-flex justify-content-between">
	  Lunch
	  <i class="bi bi-cup-hot"></i>
	</td>
	<td>Le Faranchin</td>
      </tr>
      <tr>
	<td class="text-end">14h00</td>
	<td class="d-flex justify-content-between">
	  Departure
	  <i class="bi bi-bus-front"></i>
	</td>
	<td></td>
      </tr>
      
    </tbody>
  </table>

  <div class="divider rounded m-5"></div>

  {% include "workshop/gallery.html"  %}
  
  <div class="divider rounded m-5"></div>

  <h3>How to get there</h3>
  <p>
    The goal is to arrive at <a href="https://maps.app.goo.gl/9541vaPkofu8jfFo7" target="_blank">Hôtel Le Faranchin</a> on Sunday evening.
  </p>

  <pre>
Hôtel Le Faranchin
Route du Lautaret
05480 Villar-d'Arène
France</pre>

  The easiest way to get there with public transportations it to reach Grenoble and then take a bus shuttle to Villar d'Arène (mind the schedule, there are only a few of them).
  <ul>
    <li><b>From Paris</b>: Take a train to Grenoble (3h) then the L55 bus shuttle to Villar d'Arène (1h50).</li>
    <li><b>From Lyon Airport</b>: Take a bus shuttle to Grenoble (1h) then the L55 bus shuttle to Villar d'Arène (1h50).</li>
    <li><b>From Grenoble</b>: Take the L55 bus shuttle from Grenoble train station to Villar d'Arène (1h50).</li>     </ul>

  <p>
    Information on the L55 bus shuttle can be found here: <a href="https://www.reservation-zou-resalp.fr/wp-content/uploads/2024/08/ZOULER_Ligne55_BRIANCON_GRENOBLE_VIA_SERRE_CHEVALIER_SEPT_2024-1.pdf" target="_blank">Ligne 55 Briançon - Grenoble via Serre Chevalier</a>.
    You can take the
    <ul>
      <li>10:45 or 15:45 bus from Grenoble train station which will take to Villar d'Arène at 12:30 or 17:30 on Sunday</li>
      <li>12:00 or 16:30 bus from Villar d'Arène which will take you to Grenoble train station at 13:45 or 18:45 on Wednesday</li>
    </ul>
    <p>Please join the <a href="https://matrix.to/#/#spam-workshop-2024:matrix.org" target="_blank">chat room</a> so we can discuss about the organisation.</p>
  </p>
  {% comment %}
    <p class="text-danger border-danger-subtle bg-danger-subtle border rounded p-2">
      <i class="bi bi-exclamation-triangle mx-2"></i>
      The schedules of the L55 bus shuttle to Villar d'Arène for Octobre will be available mid-june.<br>
      Our program might change depending them so wait wait until then to organise your trip.
    </p>
  {% endcomment %}
  
  <div class="divider rounded m-5"></div>

  <h3>Before coming</h3>
  <p>In order for the workshop to run smoothly for you we invite you to come prepared.
    <ul>
      <li>We do not provide computers so have a laptop powerful enough to run your analysis.</li>
      <li>Have SPAM installed on your laptop (<a href="https://www.spam-project.dev/docs/installation/" target="_blank">see documentation here</a>).</li>
      <li>Have your data available on your laptop or on a hard drive (don't rely on the internet to download it).</li>
      <li>Prepare a two slides presentation about your research and the analysis you want to conduct (2 minutes max).</li>
    </ul>
  </p>

  {% with developers=workshop.get_developers %}
    {% if developers.count %}
      <div class="divider rounded m-5"></div>
      <h3>The team</h3>
      <div class="container text-center py-2">
	<div class="row">
	  {% for developer in developers %}
	    <div class="col-lg-4 col-sm-6 mb-2">
	      {% if developer.image %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{developer.image.thumbnails.profile.url}}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% else %}
		<img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'images/default-dev'|add_random_image %}" role="img" arial-lable="Placeholder", preserveAsoectRatio="xMidYmid slice" focusable="false" alt="{{developer.name}}"><title>{{developer.name}}</title>
	      {% endif %}
	      {% if developer.link %}
		<h4 class="fw-normal mt-2"><a href="{{developer.link}}" target="_blank">{{developer.name}}</a></h4>
	      {% else %}
		<h4 class="fw-normal mt-2">{{developer.name}}</h4>
	      {% endif %}
	      <p>{{developer.text|safe}}</p>
	    </div>
	  {% endfor %}
	</div>
      </div>
    {% endif %}
  {% endwith %}

  {#  SPONSORS #}
  {# <div class="divider rounded m-5"></div> #}
  {# <div class="row justify-content-around align-items-center"> #}
  {# <h3> This edition is financed by</h3> #}
  {# <div class="col-md-4 d-flex justify-content-center mb-4"> #}
  {# <a href="https://ethrat.ch/en/" target="_blank"> #}
  {# <img class="dark-mode rounded" src="{% static '/images/sponsors/eth-rat.png' %}" height="75"> #}
  {# </a> #}
  {# </div> #}
  {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
  {# <a href="https://www.epfl.ch/en/" target="_blank"> #}
  {# <img class="rounded" src="{% static 'images/sponsors/epfl.png' %}" height="75"> #}
  {# </a> #}
  {# </div> #}
  {# <div class="col-md-4 d-flex justify-content-center py-4"> #}
  {# <a href="https://www.univ-grenoble-alpes.fr/english/" target="_blank"> #}
  {# <img class="dark-mode" src="{% static 'images/sponsors/uga.png' %}" height="75"> #}
  {# </a> #}
  {# </div>  #}
  </div> 

  
{% endblock %}
