{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
    <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block">
      <img src="{% static 'images/spam-logo.png' %}" class="d-block mx-lg-auto img-fluid" alt="SPAM logo" loading="lazy" width="350">
    </div>
    <div class="col-lg-6 align-middle">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
	<a href="/" class="home">
	  <img src="{% static 'images/spam-workshop.png' %}" class="me-2 img-fluid" alt="SPAM logo" loading="lazy" width="250">
	</a>
      </h1>
      <p class="lead mb-4"><b>SPAM</b>: <b>S</b>oftware for <b>P</b>ractical <b>A</b>nalysis of <b>M</b>aterials</p>

      <p><span class="lead">SPAM</span> workshops are organised each year and aim at bringing support to our users while building up the community.<br class="mb-2">
	During <b>three days</b> in a remote place in the mountains you will have the opportunity to <b>bring your own data</b> and analyse it with the <b>spam core developement team</b>.<br class="mb-3">
      </p>
    </div>
  </div>

  {% for workshop in workshops %}

    <div class="divider rounded m-5"></div>

    {% include "workshop/workshop.html" %}

  {% endfor %}

{% endblock %}
