.divider {
  height: 1px;
  background-color: var(--bs-light-border-subtle);
  border: 1px solid var(--bs-light-border-subtle);
}

.btn-documentation {
  --light-color: #447e9b;
  --dark-color: #204a5f;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-light);
  --bs-btn-bg: var(--light-color);
  --bs-btn-hover-color: var(--bs-light);
  --bs-btn-hover-bg: var(--dark-color);
}

a:not(:hover):not(:active) {
  text-decoration: none;
}

span.keyword {
  font-weight: bold;
  cursor: help;
}


a.citation-title {
  text-decoration: none;
  /*   cursor: pointer; */
}

.copy-clipboard {
  cursor: copy;
}

div.citation:hover,
ul.citations:not(.citations-hidden) li:hover {
  background: var(--bs-secondary-border-subtle);
}

ul.citations-hidden {
  background-image: linear-gradient(to bottom, var(--bs-body-color), var(--bs-body-bg));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  cursor: pointer;
}

ul.citations-hidden a {
  color: transparent;
  text-decoration: none;
}

ul.citations {
  list-style-type: none;
}

.error {
  background-size: 100px auto, 100px auto;
  background-position: left bottom, right bottom; /* Position images */
  background-repeat: repeat-y, repeat-y;
  background-image: url('/static/error-left.png'), url('/static/error-right.png'); /* URL of your background images */
  margin: 100px;
}
