{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPAM | Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/spam.css' %}"> 
    <link rel="icon" href="/favicon.ico" />
    <script src="{% static 'javascript/bs-color-mode.js' %}"></script>
    
  </head>
  <body class="error">

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Page not found (error 404)</h1>
          <p>The algorithm did not converge... Try with a larger margin.</p>
        </div>
      </div>
    </div>

    <i id="theme-slider" class="bi d-none"></i>

  </body>
</html>

