{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>SPAM | project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/spam.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="icon" href="/favicon.ico" />
    <script src="{% static 'javascript/bs-color-mode.js' %}"></script>

    <link id="codesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
    
  </head>
  <body>

    <div class="container">

      {% block content %}
      {% endblock %}

    </div>

    <div class="container">
      
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 text-body-secondary">
	<div class="btn-group my-2" role="group" aria-label="Color switcher">
	  <button id="theme-switcher" class="btn btn-sm btn-outline-secondary" type="button">
            <i class="bi bi-sun-fill"></i>
            <i id="theme-slider" class="bi"></i>
            <i class="bi bi-moon-stars-fill"></i>
	  </button>
	  <button id="theme-value" class="btn btn-sm btn-outline-secondary disabled" type="button"></button>
	  <button id="theme-auto" class="btn btn-sm btn-outline-secondary" type="button">
            <i class="bi bi-circle-half"></i>
	  </button>
	</div>
	<span class="my-8">
	  <a href="/">SPAM</a> |
	  <a href="https://gitlab.com/spam-project/spam" target="_blank">Source code</a> |
	  <a href="/docs">Documentation</a> |
	  <a href="/workshops">Workshops</a>
	</span>
	<span class="my-2">
	  Made with <i class="bi bi-heart"></i> by open source enthusiasts
	</span>
      </footer>
    </div>

    <script src="{% static 'javascript/spam.js' %}"></script>
    <script>hljs.highlightAll();</script>
    <script src="{% static 'javascript/gallery.js' %}"></script>

  </body>
</html>
